<!DOCTYPE html>
<html lang="hr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asana Tags - Prijava</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body class="prijava">

<form th:action="@{/login}" method="post" class="kartica">
    <h1>Asana Tags</h1>

    <div class="greska" th:if="${param.error}">Neispravno korisnicko ime ili lozinka.</div>
    <div class="poruka" th:if="${param.odjava}">Odjavljeni ste.</div>

    <label for="username">Korisnicko ime</label>
    <input type="text" id="username" name="username" autofocus required>

    <label for="password">Lozinka</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Prijava</button>
</form>

</body>
</html>